<ion-view view-title="桔子精选婚庆 - 幸福从此开始">
    <ion-content overflow-scroll="false" padding="false" on-scroll="getScrollPosition()">
        <section id="imgShow" style="height:129.375px;">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a style="background: url('images/banner.jpg') center center no-repeat; background-size: auto 100%;"></a>
                    </div>
                    <div class="swiper-slide">
                        <a style="background: url('images/banner.jpg') center center no-repeat; background-size: auto 100%;"></a>
                    </div>
                </div>
                <!-- <div class="swiper-pagination"></div> -->
            </div>
        </section>
        <!-- part1 start -->
        <section id="part1" class="items">
			<ul class="clearfix">
				<li class="li_9"><a href="javascript:;" ui-sref="app.hotel({area:0,type:0,sort:0})"><div>婚宴酒店</div></a></li>
				<li class="li_6"><a href="javascript:;" ui-sref="app.shoot({area:0,type:0,sort:0})"><div>婚纱摄影</div></a></li>
				<li class="li_12"><a href="javascript:;" ui-sref="app.car({area:0,type:0,sort:0})"><div>婚车</div></a></li>
				<li class="li_8"><a href="javascript:;" ui-sref="app.trip"><div>蜜月游</div></a></li>
			</ul>
		</section>
		<!-- part1 end -->
		<!-- 广告位 start -->
		<section id="adImg" class="items">
			<a href="javascript:;" ><img src="images/09_ad.jpg"></a>
		</section>
		<!-- 广告位 end -->
		<!-- tips start -->
		<section id="tips" class="items">
			<ul class="clearfix">
				<li class="li_1">
					<a href="javascript:;" ng-click="commingSoon()">
						<h3>结婚吉日 </h3>
						<p>随时查询</p>
					</a>
				</li>	
				<li class="li_5">
					<a href="javascript:;" ng-click="commingSoon()">
						<h3>寻找 </h3>
						<p>最美婚纱照</p>
					</a>
				</li>	
				<li class="li_3">
					<a href="javascript:;" ng-click="commingSoon()">
						<h3>一键轻松 </h3>
						<p>订婚纱</p>
					</a>
				</li>	
			</ul>
		</section>
		<!-- tips end -->
		<section id="hunYan" class="items" show="true">
			<h1 class="tit">婚宴酒店<a href="javascript:;" >查看所有 </a></h1>
			<ul class="clearfix">
				<li>
					<a href="javascript:;" >
						<div class="img">
							<img src="images/hy_1.png" style="display: block;">
						</div>
						<p>星级酒店</p>
					</a>
				</li>
				<li>
					<a href="javascript:;" >
						<div class="img"><img src="images/hy_2.png" style="display: block;"></div>
						<p>特色餐厅</p>
					</a>
				</li>
				<li>
					<a href="javascript:;" >
						<div class="img"><img src="images/hy_11.png" style="display: block;"></div>
						<p>中式婚礼</p>
					</a>
				</li>
			</ul>
		</section>
		<!-- hunYan end -->
		<section id="hunSha" class="items" show="true">
			<h1 class="tit">婚纱摄影 <a href="javascript:;" >查看所有 </a></h1>
			<ul class="clearfix">
				<li>
					<a href="javascript:;" >
						<div class="img"><img src="images/hs_1.png" style="display: block;"></div>
						<p>韩式唯美</p>
					</a>
				</li>
				<li>
					<a href="javascript:;" >
						<div class="img"><img src="images/hs_2.png" style="display: block;"></div>
						<p>欧式大牌</p>
					</a>
				</li>
				<li>
					<a href="javascript:;" >
						<div class="img"><img src="images/hs_3.png" style="display: block;"></div>
						<p>个性创意</p>
					</a>
				</li>
			</ul>
		</section>
		<!-- hunSha end -->
		<section id="miYue" class="items" show="true">
			<h1 class="tit">蜜月游  <a href="javascript:;" >查看所有 </a></h1>
			<ul class="clearfix">
				<li>
					<a href="javascript:;" >
						<div class="img"><img src="images/my_2.png" style="display: block;"></div>
						<div class="infos">
							<span>普吉岛</span>
							<span>¥5225</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" >
						<div class="img"><img src="images/my_1.png" style="display: block;"></div>
						<div class="infos">
							<span>巴厘岛</span>
							<span>¥6224</span>
						</div>
					</a>
				</li>
			</ul>
		</section>
		<!-- miYue end -->
		<section id="all" show="true">
			<ul class="allNav clearfix">
				<li class="cur">婚宴酒店</li>
				<li>婚纱摄影</li>
				<li>蜜月游</li>
			</ul>
			<div class="allItemCon">
				<div class="allItem allItem_1" style="display: block;">
					<ul>
						<li>
							<a href="javascript:;" >
								<img src="images/demo.png">
								<div class="allPartRi">
									<h3>在水一方大酒店</h3>
									<div class="riInfo">
										<span class="price">¥<i>2688-4699</i>/桌</span>
									</div>
									<div class="actives"></div>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:;" >
								<img src="images/demo.png">
								<div class="allPartRi">
									<h3>在水一方大酒店</h3>
									<div class="riInfo">
										<span class="price">¥<i>2688-4699</i>/桌</span>
									</div>
									<div class="actives"></div>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:;" >
								<img src="images/demo.png">
								<div class="allPartRi">
									<h3>在水一方大酒店</h3>
									<div class="riInfo">
										<span class="price">¥<i>2688-4699</i>/桌</span>
									</div>
									<div class="actives"></div>
								</div>
							</a>
						</li>
					</ul>
					<div class="more"><a href="javascript:;" >查看更多</a></div>
				</div>
			</div>
		</section>
		<!-- all end -->
		<footer>
			<nav>
				<a href="javascript:;" >App下载</a>
				<a href="javascript:;" >关于我们</a>
				<a href="javascript:;">联系我们</a>
			</nav>
			<a>CopyRight 2017 苏ICP备16032153号-1</a>
		</footer>
		<!-- 底部 end -->
    </ion-content>
</ion-view>
