<ion-view view-title="桔子精选婚庆 - 发现新鲜事物">
    <ion-content overflow-scroll="false" padding="false">
        <ion-list>
            <ion-item class="item-icon-left item-icon-right" ui-sref="app.find-news">
                <i class="icon ion-ios-bell-outline"></i>
                资讯公告<br />
                <p style="font-size: 12px;color:#999;">最新资讯公告</p>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <!-- <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-ios-color-wand-outline"></i>
                活动中心<br />
                <p style="font-size: 12px;color:#999;">优惠多多，活动不停</p>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-ios-film-outline"></i>
                案例<br />
                <p style="font-size: 12px;color:#999;">瞧瞧别人家的婚礼</p>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-ios-pricetags-outline"></i>
                婚礼笔记<br />
                <p style="font-size: 12px;color:#999;">办婚礼需要注意点啥</p>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item> -->
            <ion-item class="item-icon-left item-icon-right" ui-sref="app.find-game">
                <i class="icon ion-ios-game-controller-b-outline"></i>
                桔子游戏<br />
                <p style="font-size: 12px;color:#999;">读心术小游戏</p>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
