<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="桔子精选" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/index">
    <ion-nav-view name="tab-index"></ion-nav-view>
  </ion-tab>

  <ion-tab title="发现" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/app/find">
    <ion-nav-view name="tab-find"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我的" icon-off="ion-ios-contact-outline" icon-on="ion-ios-contact" href="#/app/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
