<ion-view>
    <ion-content overflow-scroll="false" padding="false" on-scroll="getScrollPosition()" 
    id="carDetail" >
		<section id="carImgShow" class="carImgShow" >
            <img src="images/20170110102126102.png" ></img>
        </section>
		<!-- 图片轮播 end-->
		<section id="info" class="items">
			<h1>玛莎拉蒂 玛莎拉蒂Ghibli</h1>
			<div class="dxlPrice">到喜啦独享价：<span><i>￥1880</i>/半天</span></div>
			<div class="desc">费用说明：<span></span></div>
			<!--下拉-->
			<div class="more"><i></i></div>
		</section>
		<!-- 信息 end -->
		<section id="choice" class="items">
			<div class="more">型号：<span style="color:#999;">Ghibli</span> 颜色：<span style="color:#999;">白色</span>  库存：<span style="color:#999;">30辆</span> 
			</div>
		</section>
		<!-- 型号  颜色  end -->
		<section id="fengcai" class="items">
			<h3 class="tit">婚车风采</h3>
			<ul class="clearfix">
				<li class="big"><img src="images/car-fengcai1.png" alt="" ></li>
				<li class="small"><img src="images/car-fengcai2.png" alt=""></li>
				<li class="small"><img src="images/car-fengcai3.png" alt="" ></li>
			</ul>
		</section>
		<!-- 婚车风采 end -->
		<section id="pinpai" class="items">
			<h3 class="tit">品牌介绍</h3>
			<div class="infos"><img src="images/20160601181260658.png" /></div>
		</section>
		<!-- 品牌介绍 end -->
		<aside id="tool">
			<span class="custom"><i>在线咨询</i></span>
			<span class="order">立即预订</span>
		</aside>
    </ion-content>
</ion-view>