<ion-view>
    <ion-content overflow-scroll="false" padding="false" on-scroll="getScrollPosition()" 
    id="shootDetail" >
        <section id="sellerDetail">
            <img src="images/20170111164245928.png">
            <div class="detailTit" url="KaLuoSheYing" biz_id="1141">
                <h3><span>卡罗摄影会馆</span>
		            <!--<i class="fu"></i>-->
		        </h3>
                <div class="detailMoney">
                    <p>￥<i>2888-5257</i>/套</p>
                    <div class="detailFen">
                        <div class="pingStartBg">
                            <div class="pingStart" style="width:100%"></div>
                        </div>5分
                    </div>
                </div>
            </div>
            <div class="receive-div">
                <ul class="receive-ul">
                    <li><i>[优惠券]</i>领取优惠券</li>
                </ul>
            </div>
            <div class="detailBtnCon">
                <div class="detailBtn">
                    <a href="#" class="online"></a>
                    <a class="collect notCollect"></a>
                    <a class="kandian">预约看店</a>
                </div>
            </div>
            <div class="receive-div"></div>
        </section>
        <!-- 商家详情 end -->
        <section id="sellerTaoXi">
            <div class="whiteBg">
                <h3 class="tit">商家套系</h3>
                <ul class="clearfix">
                    <li>
                        <a href="#">
                            <div class="smallImg">
                                <img src="images/20170111164245928.png">
                            </div>
                            <h3>《拉斐尔》系列</h3>
                            <div class="returnCash">
                                <p class="oldPrice">￥<span>3699</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="smallImg">
                                <img src="images/20170111164245928.png">
                            </div>
                            <h3>《拉斐尔》系列</h3>
                            <div class="returnCash">
                                <p class="oldPrice">￥<span>3699</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="smallImg">
                                <img src="images/20170111164245928.png">
                            </div>
                            <h3>《拉斐尔》系列</h3>
                            <div class="returnCash">
                                <p class="oldPrice">￥<span>3699</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="smallImg">
                                <img src="images/20170111164245928.png">
                            </div>
                            <h3>《拉斐尔》系列</h3>
                            <div class="returnCash">
                                <p class="oldPrice">￥<span>3699</span></p>
                            </div>
                        </a>
                    </li>
                </ul>
                <a class="more" href="#">查看全部4个套系</a>
            </div>
        </section>
        <!-- 商家套系 end -->
        <section id="sellerZuoPing">
            <div class="whiteBg">
                <h3 class="tit">商家作品</h3>
                <ul class="clearfix">
                    <li>
                        <a href="#">
                            <div class="smallImg">
                                <img src="images/20170111164245928.png ">
                                <span>12 张</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="smallImg">
                                <img src="images/20170111164245928.png ">
                                <span>15 张</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <a class="more" href="#">查看全部2个作品</a>
            </div>
        </section>
        <!-- 商家作品 end -->
        <section id="PingJia">
            <div class="whiteBg">
                <h3 class="tit">评价</h3>
                <ul class="clearfix">
                    <li>
                        <img src="images/m_medium.jpg" alt="">
                        <div class="pingjiaCon">
                            <div class="pingjiaUser clearfix">
                                <h3>到喜啦_1957051407</h3>
                                <div class="pingStartBg">
                                    <div class="pingStart" style="width:100%"></div>
                                </div>
                            </div>
                            <p>在卡罗拍了一组美美的婚纱照，有一个外景和夜景，还有水下的拍摄 他家的水下摄影基地真的很专业 ，跟老公拍出了大片的感脚~ 摄影师很有耐心，从头到尾一直逗我们笑，跟老公我俩从早上拍到晚 ，都没有觉的很累，昨天刚选完片子，超级满意~ 等着精修的效果出来、期待ing~~</p>
                        </div>
                    </li>
                </ul>
                <a class="more" href="#">查看全部1条评论</a>
            </div>
        </section>
        <section id="detailInfo">
            <div class="detailInfo">
                <h3 class="tit">商家信息</h3>
                <ul>
                    <li class="map">
                        <div class="mapCenter clearfix">
                            <p>五一路铜锣湾国际公寓B座1809室(近民生银行)（总店）</p>
                            <p class="mobile"><a href="tel:400-820-1709">联系商家</a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </ion-content>
</ion-view>
