<ion-view>
    <ion-content overflow-scroll="false" padding="false" on-scroll="getScrollPosition()"
    id="hoteldetail" >
        <section id="topImg">
            <div class="TopImgBox">
                <img src="images/20150410155596859.png">
            </div>
            <div class="topInfos">
                <h1>金伯爵婚礼中心（下元店）</h1>
                <div class="pinglun">
                    <span class="le"><i style="width:100%;"></i></span>
                    <span class="ri">2条评论</span>
                </div>
                <div class="pirce">
                    <span class="le">￥1388-5288/桌</span>
                </div>
            </div>
        </section>
        <!-- 头图/酒店名/价格 end -->
        <section id="hui" class="items">
            <ul>
                <li><i>[订单礼]</i>下单立享5880元大礼包</li>
            </ul>
        </section>
        <!-- 特惠礼/到店礼/订单礼 end -->
        <section id="map" class="items">
            <ul>
                <li><a href="#"><span>和平南路与小井峪街交叉口</span><span class="shopBusy">【商家繁忙，请提前预约】</span></a></li>
                <li class="checkInfoDialog">酒店详情介绍 </li>
                <li><a href="tel:400-820-1709">400-820-1709<i>联系商家</i></a></li>
            </ul>
        </section>
        <!-- 地图 end -->
        <section id="yanhuiting" class="items">
            <h3 class="tit">宴会厅(6)</h3>
            <ul>
                <li class="clearfix">
                    <div class="le">
                        <img src="images/20161213163783607.jpg">
                        <div class="leInfo">
                            <h4>华彩厅 1F</h4>
                            <h5>50桌</h5>
                            <p>
                                <span>柱数:0</span>
                                <span>层高:13米</span>
                            </p>
                        </div>
                    </div>
                    <div class="ri dqBtn">查询档期</div>
                </li>
                <li class="clearfix">
                    <div class="le">
                        <img src="images/20161213163783607.jpg">
                        <div class="leInfo">
                            <h4>华彩厅 1F</h4>
                            <h5>50桌</h5>
                            <p>
                                <span>柱数:0</span>
                                <span>层高:13米</span>
                            </p>
                        </div>
                    </div>
                    <div class="ri dqBtn">查询档期</div>
                </li>
                <li class="clearfix">
                    <div class="le">
                        <img src="images/20161213163783607.jpg">
                        <div class="leInfo">
                            <h4>华彩厅 1F</h4>
                            <h5>50桌</h5>
                            <p>
                                <span>柱数:0</span>
                                <span>层高:13米</span>
                            </p>
                        </div>
                    </div>
                    <div class="ri dqBtn">查询档期</div>
                </li>
            </ul>
            <div class="more">查看全部6个宴会厅<i></i></div>
        </section>
        <!-- 宴会厅 end -->
        <section id="menus" class="items">
            <h3 class="tit">婚宴菜单</h3>
            <ul>
                <li><a href="#">婚宴套餐<span>¥1388/桌</span></a></li>
                <li><a href="#">婚宴套餐<span>¥1588/桌</span></a></li>
                <li><a href="#">婚宴套餐<span>¥1688/桌</span></a></li>
            </ul>
            <div class="more"><a href="#">查看全部11个菜单</a></div>
        </section>
        <!-- 婚宴菜单 end -->
        <section id="pingLun" class="items">
            <h3 class="tit">评论</h3>
            <ul>
                <li>
                    <a href="#">
                        <img src="images/defaultboy4.jpg" class="le">
                        <div class="ri">
                            <h3>傲骨的沫雪	<p class="star"><span class="s2" style="width:100%;"></span></p></h3>
                            <div>不错……够专业！是个结婚的好地方！大家有办事可以去这里看看～</div>
                            <dl class="clearfix">
                            </dl>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/defaultboy2.jpg" class="le">
                        <div class="ri">
                            <h3>1先生	<p class="star"><span class="s2" style="width:100%;"></span></p></h3>
                            <div>不错，结婚的好地方，专业</div>
                            <dl class="clearfix">
                            </dl>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="more"><a href="#">查看全部2条评价</a></div>
        </section>
        <!-- 评论 end -->
        
        <div class="gdbjt-top"></div>
        <aside id="tooBar">
            <ul>
                <li class="online"><i>在线咨询</i></li>
                <li class="contact">
                    <a href="tel:400-820-1709">
                        <i>联系商家</i>
                    </a>
                </li>
                <li class="dangqi dqBtn">查询档期</li>
                <li class="yuyue">预约看店</li>
            </ul>
        </aside>
        <!-- 底部工具条 end -->
    </ion-content>
</ion-view>
